
.btn-form {
  position: relative;
  background: linear-gradient(105.62deg, #FF4305 0%, #FF8000 100%);
  border-radius: 1px;
  font-weight: 500;
  font-size: rem(14);
  line-height: 150%;
  color: #FFFFFF;
  padding: rem(12.5) rem(20);

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(265.66deg, #FF4305 0%, #FF8000 100%);
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  // .btn-fotm_bg-rev

  &_bg-rev {
    background: linear-gradient(265.66deg, #FF4305 0%, #FF8000 100%);
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(105.62deg, #FF4305 0%, #FF8000 100%);
      opacity: 0;
      transition: opacity 0.5s ease 0s;
    }
  }
}

.form-registration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;  
  @include adaptiveValue("padding-top", 42, 16, 1);
  @include adaptiveValue("padding-bottom", 42, 16, 1);
  @include adaptiveValue("padding-right", 70, 20, 1);
  @include adaptiveValue("padding-left", 70, 20, 1);

  &._sending {
    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 130%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(75);
      height: rem(75);
      transform: translate(-50%, -50%);
      background: url('../../img/spinner.svg') no-repeat;
      background-size: rem(75) rem(75);
    }
  }

  // .form-registration__title

  &__title {
    @include adaptiveValue("font-size", 20, 18, 1);
    font-weight: 500;
    line-height: 150%;
  }

  .success-title {
    max-width: rem(402);
    text-align: start;
    &:not(:last-child) {
      margin: 0 0 rem(12) 0;
    }
  }

  .success-text {
    text-align: start;
    font-size: rem(14);
    line-height: 150%;
    color: #1F2937;
  }

  .success-img {
    &:not(:last-child) {
      margin: 0 0 rem(12) 0;
    }
    img {
      max-width: 100%;
    }
  }

  // .form-registration__form

  &__form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    position: relative;

    // .form-registration__form_gap12

    &_gap12 {
      @include adaptiveValue('row-gap', 24, 12, 1);
    }
  }

  // .form-registration__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    .error {
      align-self: flex-start;
      color: #FF4305;
      font-size: rem(13);
    }

    // .form-registration__item_checkbox

    &_checkbox {
      align-self: flex-start;
    }
  }

  // .form-registration__input

  &__input {
    background: #F7FAFC;
    border: 1px solid #E1E6F0;
    padding: rem(14) rem(20);
    min-width: 100%;
    font-size: rem(14); 
    line-height: 160%;

    &::placeholder {
      color: #6C7A96;
      font-style: italic;
    }
  }

  // .form-registration__checkbox

  &__checkbox {
    appearance: none;
  }

  // .form-registration__label

  &__label {
    position: relative;
    font-size: rem(14);
    line-height: 120%;
    color: #1F2937;
    display: flex;
    align-items: flex-start;
    gap: rem(14);
    cursor: pointer;

    span {
      white-space: nowrap;
      flex: 1 1 auto;
    }

    &::before {
      content: '';
      flex: 0 0 rem(20);
      height: rem(20);
      background: #FFFFFF;  
      border: 1px solid $greenColor;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      width: rem(13);
      height: rem(13);
      top: rem(3);
      left: rem(4);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      background: url('../../img/icons/checkbox.svg') no-repeat;
      background-size: rem(13) rem(13);
    }
  }

  // .form-registration__btn

  &__btn {
    align-self: flex-start;

    // .form-registration__btn_strech 

    &_strech {
      align-self: stretch;
    }
  }
  // .form-registration__text

  &__text {
    font-style: italic;
    font-size: rem(13);
    line-height: 140%;
    color: #6C7A96;

    button {
      color: #FF4305;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // .form-registration__text-link

  &__text-link {
    text-decoration: underline !important;
    white-space: nowrap;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

.form-registration__checkbox:checked + .form-registration__label::after {
  opacity: 1;
  visibility: visible;
}