
.btn-form {
  position: relative;
  background: linear-gradient(105.62deg, #FF4305 0%, #FF8000 100%);
  border-radius: 1px;
  font-weight: 500;
  font-size: rem(14);
  line-height: 150%;
  color: #FFFFFF;
  padding: rem(12.5) rem(20);

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(265.66deg, #FF4305 0%, #FF8000 100%);
    opacity: 0;
    transition: opacity 0.5s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  // .btn-fotm_bg-rev

  &_bg-rev {
    background: linear-gradient(265.66deg, #FF4305 0%, #FF8000 100%);
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(105.62deg, #FF4305 0%, #FF8000 100%);
      opacity: 0;
      transition: opacity 0.5s ease 0s;
    }
  }
}

.form-registration {

  // .form-registration__title

  &__title {
    @include adaptiveValue("font-size", 20, 18, 1);
    font-weight: 500;
    line-height: 150%;
  }

  // .form-registration__form

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);

    // .form-registration__form_gap12

    &_gap12 {
      @include adaptiveValue('row-gap', 24, 12, 1);
    }
  }

  // .form-registration__item

  &__item {
  }

  // .form-registration__input

  &__input {
    background: #F7FAFC;
    border: 1px solid #E1E6F0;
    padding: rem(14) rem(20);
    width: 100%;
    font-size: rem(14); 
    line-height: 160%;
  
    &::placeholder {
      color: #6C7A96;
      font-style: italic;
    }
  }

  // .form-registration__btn

  &__btn {
    align-self: flex-start;
  }
  // .form-registration__text

  &__text {
    font-style: italic;
    font-size: rem(13);
    line-height: 140%;
    color: #6C7A96;
  }

  // .form-registration__text-link

  &__text-link {
    text-decoration: underline !important;
    white-space: nowrap;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}