
.modal {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  img {
    width: rem(50);
    height: rem(50);
  }
 
  &.modal-open {
    opacity: 1;
    visibility: visible;
  
    .modal__form-registration {
      transform: scale(1);
    }
  }

  // .modal__form-registration

  &__form-registration {
    position: relative;
    min-width: 542px;
    background-color: #fff;
    transition: all 0.4s ease 0s;
    transform: scale(0);
    text-align: center;
    overflow: auto;

    &.open {
      animation: showForm 0.3s ease 0s;
    }

    @media (max-width:rem(549.98)){
      min-width: 320px;   
    }

    @keyframes showForm {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  // .modal__title

  &__title {
    &:not(:last-child) {
      margin: 0 0 rem(12) 0;
    }
  }

  // .modal__text

  &__text {
    align-self: flex-start;
    &:not(:last-child, .modal__text_in-form) {
      margin: 0 0 rem(30) 0;
    }
  }

  // .modal-exit

  .modal-exit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $greyColorLight;
    font-size: rem(14);
  }
}

