.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		@include adaptiveValue("gap", 6, 0, 1);
	}
	// .tabs__title
	&__title {
		padding: rem(10) 0;
		@include adaptiveValue("padding-right", 24, 16, 1);
		@include adaptiveValue("padding-left", 24, 16, 1);
		background: #F0F2F7;
		transition: all 0.3s ease 0s;

		&._tab-active {
			background: linear-gradient(97.66deg, #10B981 0%, #00F0A9 100%);
			color: #FFFFFF;
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
	}
}
