@use "sass:math";

//mixins==============================================================
@import "base/mixins";
@import "icons";

//fonts=============================================================
//&display=swap
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;0,500;0,600;0,700;1,200&display=swap");
@import "iconFont";

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1280;

// Брейк-поинты
$pc: em(
  $maxWidthContainer
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

//main mesh=========================================================
._container {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem(15);
  box-sizing: content-box;

  // @media (max-width: $pc) {
  //   max-width: rem(970);
  // }
  // @media (max-width: $tablet) {
  //   max-width: rem(750);
  // }
  // @media (max-width: $mobile) {
  //   max-width: none;
  // }
}

//Подклбчение шрифтов===============================================
$fontFamily: "Jost", sans-serif;
$fontSize: rem(14);

// Цветовая тема

[data-light] {
  display: none;
}
@media (prefers-color-scheme: light) {
  [data-light] {
    display: block;
  }
  [data-dark] {
    display: none;
  }
}

// Основные цвета
$mainColor: #0b0c0b;
$greyColorLight: #95a3ba;
$greenLight: #00a373;
$greenColor: #00f0a9;
$blueColor: #0a766f;
$darkBlueColor: #374151;
$orangeColor: #ff8000;
$orangeColorDark: #ff3800;

//null styles=======================================================
@import "base/null";

// ТЕЛО САЙТА

body {
  color: $mainColor;
  background-color: #fff;

  .lock & {
    overflow: hidden;
  }
}

//page=============================================================
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  @include adaptiveValue("margin-top", 189, 200, 1);
  flex: 1 1 auto;

  &__main-slider {
  }
  &__products {
  }
  &__configurators {
  }
  &__registration {
  }
  &__partners {
  }
  &__catalog {
  }
  &__base {
  }
  &__checkout {
  }
}

.page-info {
  font-size: rem(14);

  &_mb86 {
    @include adaptiveValue("margin-bottom", 86, 32, 1);
  }

  &__container {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 230px auto;
      @include adaptiveValue("column-gap", 115, 20, 1);
    }

    &_rev {
      @media (min-width: $tablet) {
        grid-template-columns: auto 370px;
      }
    }
  }

  &__sidebar {
    max-width: 400px;
    @media (max-width: $tablet) {
      &:not(.page-info__sidebar_contacts) {
        display: none;
      }
    }

    &_contacts {
      @include adaptiveValue("margin-right", 40, 0, 1);

      @media (min-width:$tablet){
        @include adaptiveValue("margin-top", 90, 70, 1);
      }
      @media (max-width:$tablet){
        margin-top: 0;
        margin-left: 100px;        
      }
      @media (max-width:$mobile){
         margin: 0; 
      }
    }
  }

  &__content {
  }
}

//_ibg
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  & img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

//стилизация скролла============================================================
/* Работает в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #C5D0E0 #F0F2F7;
}

*::-webkit-scrollbar {
  width: 12px;               /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: #F0F2F7;        /* цвет зоны отслеживания */
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  background-color: #C5D0E0;    /* цвет бегунка */
  border-radius: 30px;      /* округлось бегунка */
  border: 2px solid #F0F2F7;  /* отступ вокруг бегунка */
}

//Общие стили==========================================================
@import "ui";
//popup==========================================================================
@import "base/modal.scss";
//spollers========================================================================
// @import 'base/spollers';
//swiper========================================================================
@import "base/swiper";
//gallery=====================================================================
// @import 'gallery/lightgallery';
//forms====================================================================
@import "base/forms";
//tabs====================================================================
@import "base/tabs";
//header ==============================================================
@import "styleHeader";
//footer==================================================================
@import "styleFooter";

//Pages==========================================================================
@import "pages/mainPage";
@import "pages/catalog";
@import "pages/delivery";
@import "pages/about";
@import "pages/contacts";
@import "pages/confidentiality";
@import "pages/404";
@import "pages/documents";
@import "pages/knowledge-base";
@import "pages/cart";
@import "pages/checkout";