//====================================================================================================

.header {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;

  &._scroll {
    .header__wrapper {
      background-color: rgba(256, 256, 256, 0.9);
    }

    .header__body {
      min-height: 80px;
    }

    .header__logo {
      picture {
        &:nth-child(1) {     
          display: none;
        }
        &:nth-child(3) {
          display: block;
          animation: headerShow 0.5s ease 0s;
        }
      }
    }

    .actions-header__authorization {
      display: none;
    }

    @media (min-width:$mobile){
      .menu {
        display: none;
      }
    }
  }

  @keyframes headerShow {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  // .header__wrapper

  &__wrapper {
    transition: background-color 0.3s ease 0s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    z-index: 10;
  }

  // .header__container

  &__container {
    max-width: rem(1300);
  }

  // .header__body

  &__body {
    @include adaptiveValue("min-height", 169, 125, 1);
    position: relative;
    display: flex;
    align-items: center;
    transition: min-height 0.3s ease 0s;

    @media (min-width:rem(649.98)){
      gap: rem(45);
    }

    .menu-open & {
      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: rgba(256, 256, 256, 0.9);
        z-index: 6;
      }
    }
  }

  // .header__logo

  &__logo {
    flex: 0 0 rem(89);
    position: relative;
    z-index: 12;

    @media (max-width:$mobile){
      flex: 0 0 rem(40);

      .menu-open & {
        flex: 0 0 rem(115);
      }
    }

    picture {
      max-width: 100%;

      &:nth-child(1) {
        display: block;
        animation: headerShow 0.5s ease 0s;
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        display: none;
      }

      @media (max-width:$mobile){
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(3) {
          display: block;
        }

        .menu-open & {
          &:nth-child(3) {
            display: none !important;
          }
          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }

  // .header__main
  &__main {
    flex: 1 1 auto;
  }

  // .header__actions

  &__actions {
    flex: 0 1 rem(219);
  }

  // .header__icon

  &__icon {
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  @include adaptiveValue('gap', 42, 30, 1);
  // .main-header__menu

  &__menu {
  }

  // .main-header__bottom

  &__bottom {
  }
}

.menu {
  animation: headerShow 0.5s ease 0s;
  @media (max-width:$tablet){
    display: block !important;
  }
  // .menu__body

  &__body {
    @media (max-width:$tablet){
      position: fixed;
      z-index: 5;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      overflow: auto;
      row-gap: rem(20);
      transition: all 0.3s ease 0s;
    
      .menu-open & {
        top: 0;
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 32, 20, 1);

    @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      padding: 150px 0 30px 0;
    }
  }

  // .menu__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        .menu__link {
          color: $orangeColor;
        }

        .menu-arrow {
          &::before {
            transform: rotate(-90deg);
            color: $orangeColor;
          }
        }
        .menu__sublist {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &._hover {
      .menu__sublist {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    @media (max-width:$tablet){
      padding: rem(16) 0;
    }
  }

 // .menu__item-title

  &__item-title {
    display: flex;
    align-items: center;
    position: relative;
  }

  // .menu__link

  &__link {
    display: flex;
    align-items: center;
    gap: rem(12);
    font-size: rem(12);
    line-height: 150%;
    text-transform: uppercase;
    color: inherit;
    padding: 0 9px 0 0;
    transition: all 0.3s ease 0s;

    &::before {
      font-size: rem(15);
      color: $orangeColorDark;
    }

    @media (max-width:$tablet){
      font-size: rem(16);
    }
  }

  // .menu__sublist

  &__sublist {

    @media (min-width:$tablet){
      position: absolute;
      padding: 8px 16px;
      z-index: 5;
      top: 100%;
      left: 30%;
      width: 260px;   
      background: #FFFFFF;
      border: 1px solid #F0F2F7;
      box-shadow: 0px 35px 60px -15px rgba(6, 25, 56, 0.25);
      border-radius: 1px;
      opacity: 0; 
      visibility: hidden;
      transform: translateY(20px);
      transition: all 0.3s ease 0s;
    }

    @media (max-width:$tablet){
      padding: rem(16) 0 0 0;
      text-align: center;
    }
  }

  // .menu__sublist-item

  &__sublist-item {
    &:not(:last-child) {
      padding: rem(8) 0;
    }
  }

  // .menu__sublist-link

  &__sublist-link {
    font-size: rem(15);
    line-height: 150%;
    color: #000000;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }

    @media (max-width:$tablet){
      color: #4C5D75;
      font-size: rem(18);
    }
  }
}

.menu-arrow {
  color: $mainColor;
  font-size: rem(10);

  &:before {
    transform: rotate(90deg);
    transition: all 0.3s ease 0s;
  }

  @media (max-width:$tablet){
    font-size: rem(17);
  }

  // .menu-arrow_green

  &_green {
    color: $greenColor;
  }

  ._hover {
    &::before {
      transform: rotate(-90deg);
    }
  }

  ._spoller-active & {
    &::before {
      transform: rotate(-90deg);
    }
  }
}

.bottom-header-main {
  display: flex;
  gap: 8px;

  // .bottom-header-main__btn

  &__btn {
    flex: 0 0 rem(153);
    position: relative;
    min-height: rem(45);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    background: #FFFFFF;
    border: 1px solid $greenColor;

    .menu-arrow {
      font-size: rem(12) !important;
      
      @media (max-width:$tablet){
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    &._hover {
      .catalog-header {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .catalog-header {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .menu-arrow {
          &::before {
            transform: rotate(-90deg);
          }
        }
      }
    }

    @media (max-width:$mobile){
      min-width: 100%;
    }
  }

  // .bottom-header-main__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    color: $greenColor;
    &::before {
      font-size: rem(12);
    }

    @media (max-width:$tablet){
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }

  // .bottom-header-main__catalog

  &__catalog {
  }

  // .bottom-header-main__search

  &__search {
    flex: 1 1 auto;
  }
}

.catalog-header {
  position: absolute;
  top: 110%;
  left: 20%;
  @include adaptiveValue("width", 1310, 300, 1);
  // max-height: 300px;
  display: flex;
  row-gap: rem(20);
  @include adaptiveValue('column-gap', 64, 25, 1);
  background: #FFFFFF;
  border: 1px solid #F0F2F7;
  box-shadow: 0px 35px 60px -15px rgba(6, 25, 56, 0.25);
  border-radius: 1px;
  padding: 32px 40px;
  opacity: 0; 
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease 0s;

  @media (max-width:rem(1399.98)){
    left: -100%;
  }

  @media (max-width:rem(1279.98)){
    flex-wrap: wrap;
  }

  @media (max-width:$tablet){
    left: 0;
  }
  @media (max-width:$mobile){
    flex-direction: column;
    align-items: flex-start; 
  }

  // .catalog-header__body

  &__body {
    text-align: start;
    @media (min-width:$mobile){
      display: flex;
      flex-direction: column;
      align-items: flex-start   
    }
  }

  // .catalog-header__list

  &__list {
    @media (min-width:$mobile){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .catalog-header__item

  &__item {
    position: relative;
    padding: 10px 0 9px 0;
    text-align: start;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $greenColor;
    }
  }

  // .catalog-header__title

  &__title {
    @include adaptiveValue("font-size", 18, 15, 1);
    line-height: 130%;
    text-transform: uppercase;
    &:not(:last-child) {
      margin: 0 0 rem(10) 0;
    }
  }

  // .catalog-header__link

  &__link {
    color: $darkBlueColor;
    font-size: rem(14);
    line-height: 150%;
    position: relative;
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}

.search-header {
  position: relative;
  // .search-header__form

  &__form {
    border: 1px solid #E1E6F0;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 rem(11) 0 rem(16);

    @media (max-width:$tablet){
      width: rem(343);
    }

    &._focus {
      outline: 1px solid $orangeColor;
    }
  }

  // .search-header__input

  &__input {
    font-size: rem(14);
    line-height: 150%;
    min-width: 80%;
    min-height: rem(45);

    &::placeholder {
      color: $greyColorLight;
    }
  }

  // .search-header__actions

  &__actions {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  // .search-header__delete

  &__delete {
    display: flex;
    align-items: center;
    gap: 13px;
    opacity: 0;
    color: $greyColorLight;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    ._show & {
      opacity: 1;
      visibility: visible;  
    }
  }

  // .search-header__btn

  &__btn {
    color: $greyColorLight;
  }

  // .search-header__result

  &__result {
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    ._show & {
      opacity: 1;
      visibility: visible;  
      transform: translateY(0);
    }
  }
}

.result-search {
  background: #FFFFFF;
  border: 1px solid #F0F2F7;
  box-shadow: 0px 35px 60px -15px rgba(6, 25, 56, 0.25);
  border-radius: 1px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 700px;

  @media (min-width:$mobile){
    max-height: 610px;
  }

  @media (max-width:$tablet){
    left: -50%;
    top: 150%;
  }
  @media (max-width:$mobile){
    width: 500px; 
    left: -20%;
  }
  @media (max-width:$mobileSmall){
    max-width: 100%; 
    left: 0;
    top: 100%;
  }

  // .result-search__categories

  &__categories {
    border-bottom: 1px solid rgba(210, 210, 210, 0.5);
    padding: 16px 20px;
    flex-wrap: wrap;
  }

  // .result-search__content

  &__content {
    padding: 16px 20px 20px 20px;
    max-height: rem(300);
    overflow: auto;
  }

  // .result-search__amount

  &__amount {
    font-size: rem(15);
    line-height: 146%;
    color: $greyColorLight;
    &:not(:last-child) {
      margin: 0 0 rem(20) 0;
    }
  }

  // .result-search__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  // .result-search__item

  &__item {
  }
}

.categories-btns {
  display: flex;
  align-items: center;
  gap: rem(8);

  // .categories-btns__btn

  &__btn {
    padding: rem(6) rem(12);
    font-size: rem(13);
    background: #F0F2F7;
  }
}

.item-result-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width:$mobileSmall){
    flex-direction: column; 
    align-items: flex-start;
  }

  // .item-result-search__content

  &__content {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    gap: rem(20);
  }

  // .item-result-search__img

  &__img {
    flex: 0 0 rem(60);
    padding: 0 0 rem(60) 0;
    background-color: $greyColorLight;
  }

  // .item-result-search__text-content

  &__text-content {
    flex: 1 1 auto;
  }

  // .item-result-search__title

  &__title {
    line-height: 140%;
    color: $darkBlueColor;
    transition: color 0.3s ease 0s;
    &:not(:last-child) {
      margin: 0 0 rem(4) 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  // .item-result-search__label

  &__label {
    &:not(:last-child) {
      margin: 0 0 rem(8) 0;
    }
  }

  // .item-result-search__info

  &__info {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  // .item-result-search__price

  &__price {
    font-weight: 500;
    line-height: 120%;
    color: $darkBlueColor;

    @media (max-width:$mobileSmall){
      flex: 1 1 auto;
    }
  }

  // .item-result-search__availability

  &__availability {
  }

  // .item-result-search__buy

  &__buy {
  }
}


.buy-zone {
  display: flex;
  align-items: center;
  gap: rem(8);

  @media (max-width:$mobileSmall){
    min-width: 100%; 
    justify-content: flex-end;
  }
  // .buy-zone__amount

  &__amount {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E1E6F0;
    border-radius: 1px;

  }

  // .buy-zone__number

  &__number {
    flex: 1 1 auto;
    font-size: rem(15);
    line-height: 125%;
    min-width: rem(50);
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .buy-zone__actions

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  // .buy-zone__action

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(23);
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $greenColor;
      }
    }

    @media (max-width:$mobileSmall){
      font-size: rem(24); 
    }

    @media (min-width:$mobileSmall){
      background-color: $greenLight;
      color: #fff;
    }
  }

  // .buy-zone__button

  &__button {
    min-width: rem(46);
    min-height: rem(46);
    background: linear-gradient(105.62deg, #FF4305 0%, #FF8000 100%);
    color: #fff;
    font-size: rem(20);
    border-radius: 1px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-20%, -60%);
      font-size: rem(12);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      background: linear-gradient(105.62deg, #FF8000 0%, #FF4305 100%);
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.actions-header {
  display: flex;
  flex-direction: column;

  @media (max-width:rem(649.98)){
    margin: 0 rem(20);
  }
  // .actions-header__authorization

  &__authorization {
    animation: headerShow 0.5s ease 0s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: rem(14);
    line-height: 150%;
    letter-spacing: -0.015em;
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 42, 30, 1);
    }

    &::before {
      color: $greyColorLight;
      font-size: rem(17);
    }

    span {
      font-weight: 400;
      color: #6C7A96;
    }

    button {
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColorDark
        }
      }
    }

    @media (max-width:$mobile){
      font-size: rem(18); 
      display: flex !important;
      justify-content: center;
    }
  }

  // .actions-header__icons

  &__icons {
    display: flex;
    align-items: center;
    column-gap: rem(32);
    row-gap: rem(10);

    .menu-open & {
      display: none;
    }
  }

  // .actions-header__icon

  &__icon {
    font-size: rem(12);
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(7);
    position: relative;

    span {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: rem(14);
      height: rem(14);
      font-weight: 500;
      font-size: rem(8);
      line-height: 150%;
      letter-spacing: -0.015em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $orangeColorDark;
      color: #fff;
    }

    &::before {
      font-size: rem(25);
      color: $greyColorLight;
      transition: color 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          color: $orangeColor;
        }
      }
    }
  }
}

.support-btn {  
  height: rem(45);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: $greenColor;
  color: #fff;
  font-size: rem(21);
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: $greenLight;
    }
  }

  @media (min-width:$mobile){
    position: absolute;
    left: 100%;
    width: rem(168);
    top: 100%;
    transform: translateX(-30px);
  
    &._hover {
      transform: translateX(-100%); 
    }
  }

  @media (min-width:rem(1399.98)){
    top: 50%;
    transform: translate(-45px, -50%);
  }

  @media (any-hover: hover) {
    &:hover {
      transform: translateX(-100%);
    }
  }

  @media (max-width:$mobile){
    margin: 0 auto;
    min-width: 80%;
    min-height: rem(46);
  }
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
    flex: 0 0 30px;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 7;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: $mainColor

			// @media(prefers-color-scheme: light) {
			// 	background-color: $mainColorDark;
			// }
		}
		&::before {
			top: 0;
		}
		&::after {
      bottom: 0;
			width: 75%;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
        width: 100%;
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

