.availability {
  font-size: rem(14);
  line-height: 120%;
  color: $greenColor;
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button {
}
.swiper-button-prev {
}
.swiper-button-next {
}

.swiper-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -71px;
  width: calc(100% + 142px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width:rem(1449.98)){
    left: -15px;
    width: calc(100% + 30px);
  }

  @media (max-width:$tablet){
    display: none;
  }

  // .swiper-arrows_top75

  &_top75 {
    top: 75%;

    @media (max-width:rem(1350)){
      left: 0;
      width: 100%;
    }
  }
}

.swiper-button {
  width: rem(32);
  height: rem(32);
  background-color: #F0F2F7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.label-product {
  font-size: rem(14);
  line-height: 140%;  
  color: $greyColorLight;
}

.title {
  font-weight: 500;
  @include adaptiveValue("font-size", 26, 18, 1);
  line-height: 150%;

  &_s20 {
    font-size: rem(20);
  }

  &_s32 {
    @include adaptiveValue("font-size", 32, 24, 1);
    line-height: 135%;
  }

  &_s36 {
    @include adaptiveValue("font-size", 36, 24, 1);
    line-height: 130%;
  }
}

.product-title {
  font-weight: 500;
  line-height: 150%;
  transition: color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: $orangeColorDark;
    }
  }
}

.btn-product {
  color: $blueColor;
  font-weight: 500;
  font-size: rem(15);
  line-height: 150%;
  transition: color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: $greenColor;
    }
  }
}